<div id="floating-panel">
  <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-default" onclick="toggleHeatmap()">Приховати мапу</button>
      <button class="btn btn-default" onclick="changeGradient()">Змінити колір</button>
      <button class="btn btn-default" onclick="changeRadius()">Змінити радіус</button>
      <button class="btn btn-default" onclick="changeOpacity()">Змінити прозорість</button>
  </div>
  <input type="text" data-provide='datepicker' id="start_datepicker" placeholder="Початкова дата" style="height:31px;width:120px;" >
  <input type="text" data-provide='datepicker' id="end_datepicker"   placeholder="Кінцева дата"   style="height:31px;width:120px;" >
</div>

<div class="container-fluid">
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>

<%= render "shared/js/temperature_map" %>


<script>
  var map, heatmap;

  window.initMap = function() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 10,
      center: {
        lat: <%= raw @default_location[:latitude] %>,
        lng: <%= raw @default_location[:longitude] %>
      },
      mapTypeId: 'roadmap'
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(0,0),
      map: map
    });
  }

  function toggleHeatmap() {
    heatmap.setMap(heatmap.getMap() ? null : map);
  }

  function changeGradient() {
    var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
    ]
    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
  }

  function changeRadius() {
    heatmap.set('radius', heatmap.get('radius') ? null : 20);
  }

  function changeOpacity() {
    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
  }

  // Heatmap data: 500 Points
  function getPoints(start_date, end_date) {
    var points = [];

    $.ajax({
      type: 'GET',
      url: '<%= raw api_temperature_map_path %>',
      async: true,
      beforeSend: function (xhr) {
        if (xhr && xhr.overrideMimeType) {
          xhr.overrideMimeType('application/json;charset=utf-8');
        }
      },
      dataType: 'json',
      success: function (data) {
        var arrayLength = data.length;
        for (var i = 0; i < arrayLength; i++) {
            points.push(new google.maps.LatLng(data[i].latitude, data[i].longitude));
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus + ': ' + errorThrown);
      }
    });

    return points
  }
</script>
