<div class="container-fluid">

  <!-- Header -->
  <a name="about"></a>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h1>Громадська фіксація правопорушень</h1>
            <h3>Взаємодія свідомих громадян з поліцейськими</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <%= link_to  'Подати нову заяву', new_claim_path, class: "btn btn-default btn-lg btn-block network-name"%>
              </li>
              <li>
                <%= link_to  'Пошук заяв', search_path, class: "btn btn-default btn-lg btn-block network-name"%>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->

  <!-- Page Content -->

  <a name="services"></a>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Свідомість громадян - <br>запорука щасливого життя країни</h2>
          <p class="lead">Найсильніша зброя проти правопорушень - це народ.
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="http://rian.com.ua/images/37421/22/374212272.jpg" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Усунь загрозу,<br>щоб вона з часом не усунула тебе</h2>
          <p class="lead">Став свідком правопорушення? Повідом про це поліцію. Це просто -лише декілька кліків!</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="http://izvestia.kiev.ua/images/items/2015-11/07/WHoXirzzlhEeF6qf/img_top.jpg" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Поліція - <br>наші захистники</h2>
          <p class="lead">Поліція забов'язана захищати нас від різноманітних загроз. Але вони не зможуть
            вберігти свій народ без його допомоги.
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="http://www.kyivpost.com/media/images/2015/07/09/p19pq5d1pm10t4v8o1enktdf1p8e4/original_new-top.jpg" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <a name="contact"></a>
  <div class="banner">

    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <h2>Наші ресурси:</h2>
        </div>
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li>
                <a href="https://github.com/policemonitor/adminpanel" class="btn btn-default btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-linkedin fa-fw"></i>
                <span class="network-name">Linkedin</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#about">Керування заявами</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#services">Про нас</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#contact">Контакти</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; ФІОТ 2016.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
