<div class="login">
	<div class="container">
		<div class="form">

      <h1>Увійти в обліковий запис</h1>
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :login, :placeholder => "Логін" %>
      <%= f.password_field :password, :placeholder => "Пароль" %>
      <%= f.submit "Увійти", class: "btn-submit" %>
	 	 <% end %>



    </div>
	</div>
</div>
