<div class="modal fade" id="temperature_map_window" tabindex="-1" role="dialog" aria-labelledby="temperature_map_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Температурна мапа звернень</h3>
        <p>
          На цій мапі кольором виділено місця, звідки найчастіше були зроблені звернення до системи. Найбільш активні місця виділені червоним кольором.
        </p>
        <p>
          <%= image_tag "system/temp_map", class: "centered img-responsive" %>
        </p>
      </div>
    </div>
  </div>
</div>
