<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4" id="mail-box" hidden="true" >
      <div class="claims-list">
        <div class="header">
          <span class="glyphicon glyphicon-remove pull-right" id="close_new_claim" aria-hidden="true"></span>
        </div>
        <div class="list">
          <span id="empty_list" hidden="true">
            <h3>Помилка з'єднання!</h3>
            <h4>Перезавантажте сторінку</h4>
          </span>
          <ul id="new-messages">
            <li>
              <div class="message">
                <h3>Text</h3>
                <p>Description</p>
                <hr class="devider-line">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#close_new_claim').click(function(){
    $('#mail-box').hide();
  });
</script>
