<div class="row">
  <div class="panel panel-default vertical-space">
    <div class="panel-heading">
      <h3 class="panel-title">Особисті налаштування</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="bg-info"><%= link_to "Редагування кабінету", edit_administrator_path(@administrator) %></li>
        <li role="presentation" class="bg-info"><%= link_to "Вихід", logout_path, method: "delete" %></li>
      </ul>
    </div>
  </div>
</div>
