<div class="login">
  <div class="container">
    <div class="form">
      <div class="row">
        <h1>Редагування</h1>
        <%= render "shared/new_admin_form" %>
      </div>
    </div>
  </div>
</div>
