<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Редагування</h1>
      </div>
    </div>

    <%= render "shared/forms/new_admin_form" %>
</div>
