// Place all the styles related to the administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gerald {
  margin-top: -13px;
  height: 46px;
}

#error_explanation {
  color: red;
}

.dropdown-toggle {
  padding: 20px 12px !important;
  border-radius: 0px !important;
  border-color: #E6E6E6 !important;
}

.btn-default:focus {
  background-color: white !important;
  border-color: #E6E6E6 !important;
}

.size-override {
  height: 60px !important;
}

.vertical-space {
  margin-top: 30px;
}

.simply-link {
  text-decoration: none;
  color: #333333;
}

.simply-link:hover {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
}
