// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Base for label styling */

.card-element {
  height: 60px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
}

.bottom-space {
    margin-bottom: 30px !important ;
}

.bottom-double-space {
    margin-bottom: 60px !important ;
}

.fixed-list {
  margin-top: -53px;
}

.text-area {
  border-radius: 0px !important;
  height: 150px !important;
  border: 1px solid #E6E6E6 !important;
  resize: none !important;
  padding-top: 25px !important;
  padding-left: 20px !important;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-space {
  margin-top: 30px !important;
}

.input-button {
  height: 60px !important;
  border-radius: 0px !important;
  border: 1px solid #E6E6E6 !important;
}

#first-coordinates-button {
  margin-top: 24px;
  height: 60px;
}

#second-coordinates-button {
  margin-top: 6px;
}

#send-crew-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.messagebox {
  height: auto;
  min-height: 120px;
  width: 300px;
}

.radio-button-gps {
  border-radius: 0px !important;
  border: 1px solid #E6E6E6 !important;
  background-color: white !important;
}

#map-container {
  width: 100%;
  position: fixed;
  margin-left: -15px;
  margin-top: -73px;
  height: 100vh;
 }
 #map-canvas {
   min-width: 100%;
   height: 100%;
   z-index: -10;
   position: absolute;
 }
