// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-area {
  border-radius: 0px !important;
  height: 150px !important;
  border: 1px solid #E6E6E6 !important;
  resize: none !important;
  padding-top: 25px !important;
  padding-left: 20px !important;
}

.vertical-space {
  margin-top: 30px !important;
}

.input-button {
  height: 60px !important;
  border-radius: 0px !important;
  border: 1px solid #E6E6E6 !important;
}

#first-coordinates-button {
  margin-top: 24px;
  height: 60px;
}

#second-coordinates-button {
  margin-top: 6px;
}

.messagebox {
  height: auto;
  min-height: 120px;
  width: 300px;
}

.radio-button-gps {
  border-radius: 0px !important;
  border: 1px solid #E6E6E6 !important;
  background-color: white !important;
}

#map-container {
  width: 100%;
  position: fixed;
  margin-left: -15px;
  margin-top: -20px;
  height: 100vh;
 }
 #map-canvas {
   min-width: 100%;
   height: 100%;
   z-index: -10;
   position: absolute;
 }
