// Place all the styles related to the crews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-crew-button {
  margin-bottom: 20px;
}

#update-button {
  margin-top: 24px;
  height: 60px;
}

.card {
  margin: 5px;
  margin-top: 10px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
