// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.round-button {
	position: absolute;
	text-align: center;
	width:25%;
}
.round-button-circle {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    background: #E33B28;
    	border:5px solid #2B2A28;
}
.round-button-circle:hover {
	background:#2342C5;
}
.round-button a {
  display:block;
	float:left;
	width:100%;
	padding-top:50%;
  padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color:#e2eaf3;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
.round-button a:hover {
  text-decoration:none;
  color:#e2eaf3;
}
